<html>
<head>
    <title></title>
</head>
<body style="background: rgb(30,46,80);
background: linear-gradient(135deg, rgba(30,46,80,1) 0%, rgba(58,77,122,1) 100%); color: white;">

<div style="padding-top: 40px;">
    <div style="margin:auto; background-color: white; max-width: 700px; padding: 50px; border-radius: 15px; margin-top: 40px; color: black;">
        <p style="text-align:center;"><img src="/images/public-logo.png" alt="Ludovic Frank" style="max-width: 300px;" /></p>

        <h1 style="text-align: center">Invite</h1>
        <p>You've been invited to use this billing system for {{ brand_name }}.</p>

        <p style="text-align: center; margin-top: 50px;margin-bottom: 50px;"><a href="{{ invite_url }}" style="font-size: 150%; background-color: #1E2E50; padding: 10px; border-radius: 15px; color: white; text-decoration: none; ">Create Account</a></p>
    </div>

</div>


</body>
</html>